aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
cfscrape
dnspython
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
natsort
pillow
psutil
pybase64
pymongo
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
oauth2client
google-api-python-client
progress
progressbar2
httplib2shim
google_auth_oauthlib
